.news_it-containerTWO{
    height: 16.875rem;
    padding: 1.5rem 1rem;
    display: flex;
    justify-content: space-between;
    border: 2px solid red;
}
.container_imgTWO{
    width: 48%;
}
.container_imgTWO img{
    width: 100%;
    height: 100%;
}
.container_imgTWO a{
    width: 100%;
    height: 100%;
    display: block;
}
.container_contentTWO{
    /* width: 65.8333333%; */
    width: 48%;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Zeroing Style */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}
body{
    background-color: #030406;
    font-family: 'Cinzel', serif;
}
body._lock{
    overflow: hidden; 
}
h5{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0; 
}
h4{
    margin: 0;
    padding: 0;
    letter-spacing: 0.09rem;
    font-family: 'Cinzel', serif;
}
p{
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 0.04rem;
    line-height: 1.4rem;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
@media (min-width: 1201px){
    .background_auto{
        background-image: url(../img/trafaret.png);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .wrapper{
        top: 60vh;
    }
    .background_auto{
        height: 50vh;
    }
}

@media (max-width: 1200px) {
    .container{
        max-width: 970px;
    }
    .background_auto{
        background-color: #030406;
        height: 20vh;
        border-top: 1px solid #fff;
    }
    .wrapper{
        top: 90vh;
    }
}

@media (min-width: 993px) {
    .menu_icon {
        display: none;
    }
    .menu_list{
        display: flex;
        align-items: center;
    }
    .menu_list li{
        padding: 10px 0;
    }
    .menu_link{
        font-size: 22px;
    }
    .summary-block_intro{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .summary-block_avatar{
        flex: 1 1 40%;
    }
    .block_intro-title{
        flex: 1 1 48%;
    }
    .block_intro-text{
        width: 45%;
        margin-top: -30%;
    }
    .container_avatar{
        width: 100%;
    }    
    .goal_content{
        display: flex;
        justify-content: space-between;          
    }
    .goal_content-list{
        flex: 1 1 33.333%;
        padding: 1rem 1rem;   
    }
    .content-list_center{
        border-left: 1px solid rgba(166, 166, 166, 0.5);
        border-right: 1px solid rgba(166, 166, 166, 0.5); 
    }
    .goal_content-list:before{
        display: none;    
    }
    .news_it-container{
        height: 16.875rem;
        display: flex;
        justify-content: space-between;
        margin-bottom: 4rem;
    }
    .it-container_img{
        width: 30%;
    }
    .it-container_content{
        width: 66%;
    }
    .container_content-btn{
        justify-content: end;
    }
    .contact_information-text{
        width: 60%;
    }
    .footer_btn{
        display: flex;
        justify-content: end;
    } 
}

@media (max-width: 992px) {
    .menu_icon {
        z-index: 5;
        display: block;
        position: relative;
        width: 30px;
        height: 18px;
        cursor: pointer;
    }
    .menu_body{
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.9);
        padding: 100px 30px 30px 30px;
        transition: left 0.3s ease 0s;
        overflow: auto;
    }
    .menu_body._active{
        left: 0;
    }
    .menu_list li{
        margin-bottom: 1rem;
    }
    .menu_link{
        font-size: 24px;
    }
    .menu_icon span,
    .menu_icon::before,
    .menu_icon::after{
        left: 0;
        position: absolute;
        height: 10%;
        width: 100%;
        transition: all 0.3s ease 0s;
        background-color: #fff;
    }
    .menu_icon::before,
    .menu_icon::after{
        content: "";
    }
    .menu_icon::before{
        top: 0;
    }
    .menu_icon::after{
        bottom: 0;
    }
    .menu_icon span{
        top: 50%;
        transform: scale(1) translate(0px, -50%);
    }
    .container{
        max-width: 750px;
    }
    .container_avatar{
        width: 50%;
    }
    .summary-block_avatar{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .block_intro-title {
        margin-bottom: 2rem;
    }
    .summary-block_avatar {
        margin-bottom: 2rem;
    }
    .goal_content-list:before{
        display: block;
        bottom: 0;    
    }
    .goal_content-list{
        text-align: center;
        padding: 1rem 1rem 2rem 1rem;
    }
    .news_it-flexBox{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .news_it-container{
        width: 45%;
        margin-bottom: 2.5rem;
    }
    .news_it-container{
        display: block;
    }
    .it-container_img{
        width: 100%;
        height: 16rem;
        padding: 0;
    }
    .it-container_content{
        width: 100%;
        padding: 0;
        margin-top: 1rem;
    }
    .container_content-btn{
        justify-content: center;
        margin-top: 1rem;
    }
    .content-btn_link{
        text-align: center;
    }
    .footer_container{
        flex-direction: column;
    }
    .footer_btn{
        order: 1;
        margin-bottom: 2rem;
    }
    .social_link{
        order: 2;
        margin-bottom: 2rem;
    }
    .footer_text{
        order: 3;
    }
}
@media (max-width: 767px) {
    .container{
        max-width: none;
    }
    h1 {
        font-size: calc(24px + (8 + 8 * 0.7) * ((100vw - 320px) / 1903));
    }
}
@media (max-width: 700px) {
    .news_it-container{
        width: 100%;
    }
    .it-container_img{
        height: 22rem;
    }
    .stages__block{
        margin-bottom: 1rem;
    }
}
@media (min-width: 551px){
    .stages_list{
        display: inline-block;
    }
}
@media (max-width: 550px){
    .it-container_img{
        height: 14rem;
    }
    .stages_list{
        width: 100%;
    }
    .stages__block_number {
        flex-wrap: wrap;
    }
    .stages__number {
        width: 100%;
        text-align: center;
        order: 1;
    }
    .stages__number_text {
        width: 100%;
        text-align: center;
        margin-bottom: 1.5rem;
        order: 2;
    }
    .stages__text{
        width: 100%;
    }
}


/* HEADER */
.header{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    border-bottom: 1px solid #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}
.header_container{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 0 30px;
    align-items: center;
    justify-content: space-between;
    min-height: 70px;
}
.header_logo{
    color: #fff;
    padding: 0.5rem 0;
    position: relative;
    z-index: 5;
}
.logo h1 {
    font-size: calc(24px + 8 * (100vw / 1903));
}
.menu_list li{
    position: relative;
    margin-left: 20px;
}
.menu_list li{
    position: relative;
    margin-left: 20px;
}
.menu_link{
    color: #A6A6A6;
    position: relative;
}
.menu_link:before{
    content: "";
    width: 100%;
    height: 2px;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #A6A6A6;
    transition: all 0.3s ease 0s;
    opacity: 0;
}
.menu_link:hover{
    color: #fff;
}
.menu_link:hover:before{
    opacity: 1;
}


/* HEADER BACKGROUND */


.header_background{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-image: url(../img/zvezdnoe_nebo.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
}
.header_background-wrapper{
    width: 100%;
    height: 100vh;
    position: relative;
}
.header_background-title{
    color: #fff;
    position: absolute;
    right: 0;
    top: 40%;
    transform: translate(0px, -50%);
}

.header_background-title h1{
    font-size: calc(23px + 46 * (100vw / 1903));
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    transition: all 0.8s ease 0s;
    transform: translate(0px, 180%);
    opacity: 0;
}
.header_background-title h1.active {
    transform: translate(0px, 0px);
    opacity: 1;    
} 
.background-title_text{
    font-size: calc(12px + 5.6 * (100vw / 1903));
    color: #EB0029;
    margin: 0 1.5rem;
    transition: all 1.2s ease 0s;
    transform: translate(0px, -1000%);
    opacity: 0;
}
.background-title_text.active {
    transform: translate(0px, 0px);
    opacity: 1;      
}
.header_background-text{
    width: 18rem;
    position: absolute;
    bottom: 25%;
    left: 0;
    font-size: calc(12px + 5.6 * (100vw / 1903));
    color: white;
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.5) 60%, transparent);
    padding: 8px 8px 8px 15px;
    border-radius: 10px;
    transition: all 1s ease 0.8s;
    transform: translate(-100%, 0px);
    opacity: 0;
}
.header_background-text.active {
    transform: translate(0px, 0px);
    opacity: 1;
}



/* WRAPPER */
.main_background{
    background-color: #030406;
    width: 100%;  
}
.wrapper{
    position: absolute;
    z-index: 8;
    left: 0;
    right: 0;
}
.background_auto{
    width: 100%;
}

/* SUMMARY */


.summary{
    padding: 4rem 0;
}
.summary-block{
    margin-bottom: 4rem;
} 
.summary-block_intro{
    color: #fff;
}
.summary-block_intro h1{
    font-size: calc(30px + 10 * (100vw / 1903));
    text-transform: uppercase;
    transform: rotate(-5deg);
}
.intro-title_selection{
    color: #EB0029;
    font-size: calc(32px + 12.8 * (100vw / 1903));
}
.block_intro-text{
    background-color: #0A0B0D;
    padding: 0.5rem 1rem;
    box-shadow: 0 3px 15px 0 rgba(166, 166, 166, 0.1);
}
.selection-red{
    color: #EB0029;     
}
.summary-block_intro p{
    width: 95%;
    font-size: calc(12px + 5.6 * (100vw / 1903));
    margin-bottom: 1.5rem;
}

.container_avatar{
    border: 2px solid #0A0B0D;
    border-radius: 50%;
    -webkit-box-shadow: 0px 0px 25px 8px rgba(166, 166, 166, 0.2);
    -moz-box-shadow: 0px 0px 25px 8px rgba(166, 166, 166, 0.2);
    box-shadow: 0 0 15px 3px rgba(166, 166, 166, 0.2);
    overflow: hidden;
    position: relative;
}
.container_avatar:before{
    content: "";
    width: 120%;
    height: 25%;
    background: #fff;
    -webkit-box-shadow: 0px 15px 25px 0px rgba(166, 166, 166, 1) inset;
    -moz-box-shadow: 0px 15px 25px 0px rgba(166, 166, 166, 1) inset;
    box-shadow: 0px 15px 25px 0px rgba(166, 166, 166, 1) inset;
    position: absolute;
    right: -35%;
    bottom: -15%;
    transform: rotate(-45deg);
}
.container_avatar img{
    width: 100%;
    height: 100%;
    display: block;
}


.block_intro-title{
    position: relative;
}
.title_selection-underline{
    position: relative;
}
.title_selection-underline:before{
    content: "";
    width: 45%;
    height: 2px;
    background-color: #fff;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
}

/* MY GOAL */


.my_goal{
    padding: 4rem 0 5rem 0;
    background-color: #C4B3AB;
    border-top: 2px solid #37383A;
    border-bottom: 2px solid #37383A;
    -webkit-box-shadow: 0px -10px 25px 0px rgba(166, 166, 166, 0.2);
    -moz-box-shadow: 0px -10px 25px 0px rgba(166, 166, 166, 0.2);
    box-shadow: 0px -10px 25px 0px (166, 166, 166, 0.2);
    position: relative;
}
.my_goal:before{
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    -webkit-box-shadow: 0px 10px 25px 0px rgba(166, 166, 166, 0.2);
    -moz-box-shadow: 0px 10px 25px 0px rgba(166, 166, 166, 0.2);
    box-shadow: 0px 10px 25px 0px (166, 166, 166, 0.2);
}
.goal_title{
    max-width: 585px;
    margin-bottom: 5rem;
}
.goal_title h1{
    color: #000;
    font-size: calc(30px + 10 * (100vw / 1903));

}
.goal_title span{
    text-transform: uppercase;
    color: #EB0029;
    font-size: calc(32px + 12.8 * (100vw / 1903));
}
.goal_content{
    width: 100%;
    border-radius: 15px;
    padding: 1rem 0;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 5px 15px 0 rgba(166, 166, 166, 0.3);
}
.goal_content-list{
    font-size: 14px;
    position: relative;
}
.goal_content-list p{
    margin-bottom: 1rem;
}
.goal_content-list:before{
    content: "";
    width: 20%;
    height: 1px;
    background-color: #000;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}


/* STAGES */
.stages{
    color: #fff;
    padding: 4rem 0;
}
.stages_content{
    background-color: #0A0B0D;
    padding: 1.5rem 1rem;
    box-shadow: 0 3px 15px 0 rgba(166, 166, 166, 0.1);
}
.stages__block_2{
    display: flex;
    justify-content: end;
}
.block__number_2{
    justify-content: end;
}
.block__text_2{
    display: flex;
    justify-content: end;
}
.stages__number h1{
    font-size: calc(100px + 100 * (100vw / 1903));
    font-family: 'Cinzel', serif;
}
.stages__number_text{
    padding-bottom: 1rem;
}
.stages__number_text h3{
    font-size: calc(14px + 7 * (100vw / 1903));
    font-family: 'Playfair Display', serif;
}
.stages_list{
    padding: 1.5rem 1rem 0.5rem 1rem;
    background-color: #131519;
    box-shadow: 0 3px 15px 0 rgba(166, 166, 166, 0.1);
}
.stages__number_1, .stages__number_3{
    margin-right: 15px;
}
.stages__number_2{
    margin-left: 15px;
}
.stages_list li{
    list-style: disc;
    margin-left: 0.5rem;
    margin-bottom: 1.2rem;
}
.stages_list p{
    font-size: calc(14px + 2 * (100vw / 1903));
}
.stages__block_number{
    display: flex;
    align-items: center;
}


/* IT NEWS */


.news_it{
    padding: 6rem 0 4rem 0;
}
.news_it-block{
    width: 100%;
}
.news_it-title{
    width: 100%;
    margin-bottom: 6rem;
}
.news_it-title h1{
    font-size: calc(30px + 10 * (100vw / 1903));
    text-transform: uppercase;
    color: #fff;
}
.news_it-title span{
    color: #EB0029;
    font-size: calc(32px + 12.8 * (100vw / 1903));
}
.news_it-container{
    padding: 1.5rem 1rem;
    background: #0A0B0D;
    border-bottom: 1px solid rgba(30, 33, 37, 0.5);
    box-shadow: 0 3px 15px 0 rgba(166, 166, 166, 0.1);
}
.it-container_img{
    transition: all 5s;
}
.it-container_img img{
    width: 100%;
    height: 100%;
    transition-duration: 2s;
}
.content-btn_img{
    width: 100%;
    height: 100%;
    display: block;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 10px 3px rgba(166, 166, 166, 0.3);
}
.content-btn_img:hover img{
    transform: scale(1.2);
    transition: all 5s;
}
.it-container_content{
    color:#fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.container_content-title{
    width: 100%;
}
.container_content-title h2{
    color:#fff;
    font-size: calc(14px + 8.4 * (100vw / 1903));
    text-transform: uppercase;
    font-family: 'Cinzel', serif;
    text-overflow: ellipsis;
}
.content-title_sub{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-bottom: 0.5rem;
}
.it-container_content time{
    border-bottom: 1px solid #EB0029;
    font-size: calc(12px + 4 * (100vw / 1903));
}
.content-btn_img:before{
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    background: rgba(0, 0, 0, 0);
    z-index: 100;
}
.content-btn_img:hover:before{
    position: absolute;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-out;
    background: rgba(0, 0, 0, 0.3);
}
.container_content-text{
    width: 95%;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.container_content-text p{
    margin-top: 1rem;
    font-size: calc(12px + 2 * (100vw / 1903));
    margin-bottom: 0;
    text-overflow: ellipsis;
}
.content-btn_link{
    text-decoration: none;
    color: #A6A6A6;
    font-size: calc(12px + 7.2 * (100vw / 1903));
    padding: 0.4rem 2rem;
    background-color: #0045FA;
    display: block;
    border-radius: 20px;
    box-shadow: 1px 1px 15px 0 rgba(0, 0, 0, 0.2);
}
.container_content-btn{
    width: 100%;
    display: flex;
    align-items: center;
}
.content-btn_link:hover{
    background-color: #0036BD;
    color: #fff;
}


/* CONTACT INFO */


.contact_information{
    color: #fff;
    padding: 4rem 0;
}
.contact_information-block{
    position: relative;
    padding: 15px 25px 15px 25px;
    background: #0A0B0D;
    box-shadow: 0 3px 15px 0 rgba(166, 166, 166, 0.1);
}
.contact_information-block:before{
    content: "";
    width: 2px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #EB0029;
}
.contact_contact_information h2{
    margin-bottom: 2.5rem;
    font-size: calc(15px + 16 * (100vw / 1903));
}
.contact_information-text{
    margin-bottom: 3.5rem;
    color: #fff;
}
.contact_information-text p{
    font-size: calc(12px + 2 * (100vw / 1903));
}
a[href^="tel:"] {
	color: #fff;
	font-size: 16px;
	font-weight: 900;
}
.social_network a{
    text-decoration: none;
}
.social_network h6{
    color: #fff;
}
.social_network ul{
    list-style: none;
}
.social_network h2{
    font-family: 'Montserrat', sans-serif;
    color:#A6A6A6;
    font-size: calc(14px + 11 * (100vw / 1903));
    margin-bottom: 1rem;
}
.phone_email{
    padding-bottom: 0.5rem;
}
.phone_email li{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    margin-bottom: 1.5rem;
}
.phone_email h5{
    color:#A6A6A6;
    font-size: calc(12px + 5.6 * (100vw / 1903));
    margin-bottom: 1rem;
}
.phone_email h4{
    font-size: calc(12px + 7.2 * (100vw / 1903));
    color: #fff;
}
.phone_email a{
    padding-left: 1.5rem;
}
.phone_email a:hover h4{
    color: #0080E7;
}
.phone_email a:hover{
    text-decoration:underline;
    color: #0080E7;
}
.phone_email h6{
    font-size: 1.5rem;
    margin-left: 1rem;
    color: #fff;
}
.wa_tel_vk{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 1.5rem;
}
.wa_tel_vk li{
    margin-right: 1.5rem;
}    
.wa_tel_vk h6{
    font-size: calc(35px + 13 * (100vw / 1903));
} 
.social_network-wa:hover h6{
    color: #00E676;
}
.social_network-teleg:hover h6{
    color: #29A9EA;
}
.social_network-vk:hover h6{
    color: #0077FF;
}

/* FOOTER */


.footer{
    width: 100%;
    padding: 1.5rem 0;
    background-color: #1B1C1E;
    border-top: 1px solid #252835;
    color: #fff;
}
.footer a{
    color: #fff;
}
.footer_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer_text p{
    font-size: calc(12px + 2 * (100vw / 1903));
    color: #43464B;
}
.social_link p{
    font-size: calc(14px + 2 * (100vw / 1903));    
}
.social_link{
    flex: 1 1 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social_link p{
    margin-right: 1rem;
    color: #A6A6A6;
}
.social_link{
    flex: 1 1 60%;
}
.footer_btn{
    flex: 1 1 30%;
    font-size: 22px;
}
.footer_btn p{
    margin-left: 0.5rem;
    transform: translate(0px, 40%);
}